@{
    ViewData["Title"] = "Registration";
}
@model UserRegistration;

<div class="container mt-5 g-0">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-5 rounded p-5 shadow-lg">
            <h1 class="mb-3 text-center">Registration</h1>
            <form method="post" asp-controller="Home" asp-action="Registration">
                <div class="mb-3">
                    <label class="form-label" asp-for="@Model.EmailAddress">Email adress</label>
                    <input type="email" asp-for="@Model.EmailAddress" class="form-control" />
                    <span asp-validation-for="@Model.EmailAddress" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="@Model.Password">Password</label>
                    <input type="password" asp-for="@Model.Password" class="form-control" />
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                </div>
                <div class="mb-4">
                    <label class="form-label" asp-for="@Model.ConfirmPassword">Email adress</label>
                    <input type="password" asp-for="@Model.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-outline-primary fs-5">Registration</button>
                </div>
            </form>
        </div>
    </div>
</div>
