@{
    ViewData["Title"] = "User";
}

@model IQueryable<Review>;

<div class="d-flex flex-wrap justify-content-evenly container-fluid p-1 p-md-3 p-lg-4 g-0">
    @foreach (var review in @Model)
    {
        <div class="d-flex flex-column justify-content-center align-content-center p-4">
            <h5 class="fw-bolder">@review.Title</h5>
            <div class="row mb-1">
                <a asp-controller="Review" asp-action="ReviewPanel" asp-route-Id="@review.Id.ToString()">
                    <img src="@review.ImageUrl" width="300" height="400" class="rounded" alt="@review.ImageUrl"/>
                </a>
            </div>
            <div class="d-flex flex-row">
                <a asp-controller="Review" asp-action="ReviewPanel" asp-route-Id="@review.Id.ToString()" class="btn btn-outline-primary me-1 col">View</a>
                <a asp-controller="Review" asp-action="EditReview" asp-route-Id="@review.Id.ToString()" class="btn btn-outline-secondary me-1 col">Edit</a>
                <a asp-controller="Review" asp-action="DeleteReview" asp-route-Id="@review.Id.ToString()" class="btn btn-outline-danger col">Delete</a>
            </div>
        </div>
    }
</div>
