@{
    ViewData["Title"] = "AddComment";
}

@model CommentAddModel;

<div class="container">
    <div class="col-12">
        <div class="row align-content-center justify-content-center m-auto">
            <div class="col-lg-7 col-md-10 col-sm-11 col-12 p-lg-5 p-md-5 p-sm-4 p-3 rounded shadow-lg my-5">
                <h1 class="mb-3 text-center">Add Comment</h1>
                <form method="post" asp-controller="Comment" asp-action="AddComment">
                    <div class="mb-3">
                        <label class="form-label" asp-for="@Model.Title">Title</label>
                        <input type="text" asp-for="@Model.Title" class="form-control" value="@Model.Title"/>
                        <span asp-validation-for="@Model.Title" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="@Model.Text">Text</label>
                        <textarea type="text" asp-for="@Model.Text" class="form-control" rows="10">@Model.Text</textarea>
                        <span asp-validation-for="@Model.Text" class="text-danger"></span>
                    </div>
                    <div class="row m-auto w-50">
                        <input type="hidden" asp-for="@Model.UserId" value="@Model.UserId"/>
                        <input type="hidden" asp-for="@Model.ReviewId" value="@Model.ReviewId"/>
                        <button type="submit" class="btn btn-success fs-5">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
